html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.container {
    display: grid;
    width: 100%;
    height:100%;
    min-width: 1000px;
    position: relative;
    margin: auto;
    grid-gap: 0px;
    grid-template-areas:    "header header"
                            "main main"
                            "country country"
                            "footerleft footerright";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr 40px 40px;
  }
  
  h1, h2 {

  }
  
  header {
    grid-area: header;
    position: fixed;
    width: 100%;
    text-align: right;
  }
  
  .main {
    grid-area: main;
    text-align: center;
  }

  .country {
    grid-area: country;
    color: rgba(0, 0, 0, 0.54);
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
  }
  
  .footerleft {
    grid-area: footerleft;
    color: rgba(0, 0, 0, 0.54);
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
  }

  .footerright {
    grid-area: footerright;
    color: rgba(0, 0, 0, 0.54);
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    text-align: right;
  }

  .inlineblock {
    display: inline-block;
    line-height: 40px;
    }

    .leftpadding {
        padding-left: 30px;
    }
    .leftpaddingsmall {
    padding-left: 10px;
    }
    .rightpadding {
    padding-right: 30px;
    }
    .rightpaddingsmall {
    padding-right: 15px;
    }
    .offset {
        margin-top: 0px;
    }

.nav {
    padding-top: 8px;
    vertical-align: top;
}

.apps {
    background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
    background-position-x: -132px;
    background-position-y: -38px;
    background-size: 528px 68px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 30px;
    opacity: 0.55;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    text-align: left;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    user-select: none;
    white-space: nowrap;
    width: 30px;
    vertical-align: top;
    margin-top: 12px;
  }

.user {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px
}
.userdiv {
    padding: 0px 30px 0px 10px;
    line-height: 16px;
    vertical-align: top;
}

.logo {
      margin-top: 150px;
  }

textarea:focus, input:focus{
    outline: none;
}
.searchfield {
    color: rgb(34, 34, 34);
    font-family: arial, sans-serif;
    font-size: 15px;
    height: 39px;
    border: 1px solid #e4e4e4;
    margin-top: 20px;   
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 8px;
    padding-top: 5px;
    width: 454px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow:    0px 0px 3px 3px #ffffff;
    -webkit-box-shadow: 0px 0px 3px 3px #ffffff;
    box-shadow:         0px 0px 3px 3px #ffffff;
}

.searchfield:hover {
    border: 1px solid #e4e4e4;  
    -moz-box-shadow:    0px 0px 3px 3px #e4e4e4;
    -webkit-box-shadow: 0px 0px 3px 3px #e4e4e4;
    box-shadow:         0px 0px 3px 3px #e4e4e4;
}

.submit {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 30px 6px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}
.submit:hover {
    border: 1px solid #e4e4e4;
    color: #000000;
}

.switzerland {
    font-size: 15px;
}
